<!DOCTYPE html>
<html>
<body>

  <h1>Projects</h1>

  <ul>
    <li>Tile Puzzle solver - This java implementation takes a string of the game board and uses a encuing linked list to try all possible methods and find the one done in the least possible moves</li>
    <li>Simple HTTP Server - Can you beleve that ;)</li> 
    <li>Mandelbrot visualizer - This python implentation used tkinter to build the image pixel by pixel to see how many times a function could be returned.</li>
  </ul>

</body>
</html>
